#qunit-testrunner-toolbar button, #qunit-testresult button {
  font-size: initial;
  border: initial;
  background-color: buttonface;
}

#qunit-tests, #qunit-header, #qunit-banner, #qunit-testrunner-toolbar, #qunit-filteredTest, #qunit-userAgent, #qunit-testresult {
  font-family: Helvetica Neue Light, HelveticaNeue-Light, Helvetica Neue, Calibri, Helvetica, Arial, sans-serif;
}

#qunit-testrunner-toolbar, #qunit-filteredTest, #qunit-userAgent, #qunit-testresult, #qunit-tests li {
  font-size: small;
}

#qunit-tests {
  font-size: smaller;
}

#qunit-tests, #qunit-header, #qunit-banner, #qunit-filteredTest, #qunit-userAgent, #qunit-testresult, #qunit-modulefilter {
  margin: 0;
  padding: 0;
}

#qunit-header {
  color: #8699a4;
  background-color: #0d3349;
  border-radius: 5px 5px 0 0;
  padding: .5em 0 .5em 1em;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
}

#qunit-header a {
  color: #c2ccd1;
  text-decoration: none;
}

#qunit-header a:hover, #qunit-header a:focus {
  color: #fff;
}

#qunit-banner {
  height: 5px;
}

#qunit-filteredTest {
  color: #366097;
  background-color: #f4ff77;
  padding: .5em 1em;
}

#qunit-userAgent {
  color: #fff;
  text-shadow: 2px 2px 1px #00000080;
  background-color: #2b81af;
  padding: .5em 1em;
}

#qunit-testrunner-toolbar {
  color: #5e740b;
  background-color: #eee;
  padding: .5em 1em;
}

#qunit-testrunner-toolbar .clearfix {
  height: 0;
  clear: both;
}

#qunit-testrunner-toolbar label {
  display: inline-block;
}

#qunit-testrunner-toolbar input[type="checkbox"], #qunit-testrunner-toolbar input[type="radio"] {
  vertical-align: -2px;
  margin: 3px;
}

#qunit-testrunner-toolbar input[type="text"] {
  box-sizing: border-box;
  height: 1.6em;
}

#qunit-toolbar-filters {
  float: right;
}

.qunit-url-config, .qunit-filter, #qunit-modulefilter {
  line-height: 2.1em;
  display: inline-block;
}

.qunit-filter, #qunit-modulefilter {
  margin-left: 1em;
  position: relative;
}

.qunit-url-config label {
  margin-right: .5em;
}

#qunit-modulefilter-search {
  box-sizing: border-box;
  min-width: 400px;
}

#qunit-modulefilter-search-container:after {
  content: "▼";
  color: #000;
  position: absolute;
  right: .3em;
}

#qunit-modulefilter-dropdown {
  box-sizing: border-box;
  min-width: 400px;
  color: #000;
  z-index: 99;
  background-color: #f5f5f5;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-radius: 0 0 .25em .25em;
  margin-top: .8em;
  position: absolute;
  top: 50%;
  right: 0;
}

#qunit-modulefilter-dropdown a {
  color: inherit;
  text-decoration: none;
}

#qunit-modulefilter-dropdown .clickable.checked {
  color: #000;
  background-color: #d2e0e6;
  font-weight: bold;
}

#qunit-modulefilter-dropdown .clickable:hover {
  color: #fff;
  background-color: #0d3349;
}

#qunit-modulefilter-actions {
  font: smaller / 1.5em sans-serif;
  display: block;
  overflow: auto;
}

#qunit-modulefilter-dropdown #qunit-modulefilter-actions > * {
  box-sizing: border-box;
  max-height: 2.8em;
  padding: .4em;
  display: block;
}

#qunit-modulefilter-dropdown #qunit-modulefilter-actions > button {
  float: right;
  font: inherit;
}

#qunit-modulefilter-dropdown #qunit-modulefilter-actions > :last-child {
  padding-left: 3px;
}

#qunit-modulefilter-dropdown-list {
  max-height: 200px;
  border-top: 2px groove threedhighlight;
  margin: 0;
  padding: .4em 0 0;
  font: smaller / 1.5em sans-serif;
  overflow-y: auto;
}

#qunit-modulefilter-dropdown-list li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#qunit-modulefilter-dropdown-list .clickable {
  padding-left: .15em;
  padding-right: .5em;
  display: block;
}

#qunit-tests {
  list-style-position: inside;
}

#qunit-tests li {
  border-bottom: 1px solid #fff;
  padding: .4em 1em;
  list-style-position: inside;
}

#qunit-tests > li {
  display: none;
}

#qunit-tests li.running, #qunit-tests li.pass, #qunit-tests li.fail, #qunit-tests li.skipped, #qunit-tests li.aborted {
  display: list-item;
}

#qunit-tests.hidepass {
  position: relative;
}

#qunit-tests.hidepass li.running, #qunit-tests.hidepass li.pass:not(.todo) {
  visibility: hidden;
  width: 0;
  height: 0;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

#qunit-tests li strong {
  cursor: pointer;
}

#qunit-tests li.skipped strong {
  cursor: default;
}

#qunit-tests li a {
  color: #c2ccd1;
  padding: .5em;
  text-decoration: none;
}

#qunit-tests li p a {
  color: #6b6464;
  padding: .25em;
}

#qunit-tests li a:hover, #qunit-tests li a:focus {
  color: #000;
}

#qunit-tests li .runtime {
  float: right;
  font-size: smaller;
}

.qunit-assert-list {
  background-color: #fff;
  border-radius: 5px;
  margin-top: .5em;
  padding: .5em;
}

.qunit-source {
  margin: .6em 0 .3em;
}

.qunit-collapsed {
  display: none;
}

#qunit-tests table {
  border-collapse: collapse;
  margin-top: .2em;
}

#qunit-tests th {
  text-align: right;
  vertical-align: top;
  padding: 0 .5em 0 0;
}

#qunit-tests td {
  vertical-align: top;
}

#qunit-tests pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
}

#qunit-tests del {
  color: #374e0c;
  background-color: #e0f2be;
  text-decoration: none;
}

#qunit-tests ins {
  color: #500;
  background-color: #ffcaca;
  text-decoration: none;
}

#qunit-tests b.counts {
  color: #000;
}

#qunit-tests b.passed {
  color: #5e740b;
}

#qunit-tests b.failed {
  color: #710909;
}

#qunit-tests li li {
  background-color: #fff;
  border-bottom: none;
  padding: 5px;
  list-style-position: inside;
}

#qunit-tests li li.pass {
  color: #3c510c;
  background-color: #fff;
  border-left: 10px solid #c6e746;
}

#qunit-tests .pass {
  color: #528ce0;
  background-color: #d2e0e6;
}

#qunit-tests .pass .test-name {
  color: #366097;
}

#qunit-tests .pass .test-actual, #qunit-tests .pass .test-expected {
  color: #999;
}

#qunit-banner.qunit-pass {
  background-color: #c6e746;
}

#qunit-tests li li.fail {
  color: #710909;
  white-space: pre;
  background-color: #fff;
  border-left: 10px solid #ee5757;
}

#qunit-tests > li:last-child {
  border-radius: 0 0 5px 5px;
}

#qunit-tests .fail {
  color: #000;
  background-color: #ee5757;
}

#qunit-tests .fail .test-name, #qunit-tests .fail .module-name {
  color: #000;
}

#qunit-tests .fail .test-actual {
  color: #ee5757;
}

#qunit-tests .fail .test-expected {
  color: green;
}

#qunit-banner.qunit-fail {
  background-color: #ee5757;
}

#qunit-tests .aborted {
  color: #000;
  background-color: orange;
}

#qunit-tests .skipped {
  background-color: #ebece9;
}

#qunit-tests .qunit-todo-label, #qunit-tests .qunit-skipped-label {
  color: #366097;
  background-color: #f4ff77;
  margin: -.4em .4em -.4em 0;
  padding: 0 .5em;
  font-style: normal;
  line-height: 1.8em;
  display: inline-block;
}

#qunit-tests .qunit-todo-label {
  background-color: #eee;
}

#qunit-testresult {
  color: #2b81af;
  background-color: #d2e0e6;
  border-bottom: 1px solid #fff;
}

#qunit-testresult .clearfix {
  height: 0;
  clear: both;
}

#qunit-testresult .module-name {
  font-weight: 700;
}

#qunit-testresult-display {
  width: 85%;
  float: left;
  padding: .5em 1em;
}

#qunit-testresult-controls {
  width: 10%;
  float: left;
  padding: .5em 1em;
}

#qunit-fixture {
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -10000px;
  left: -10000px;
}

/*# sourceMappingURL=tests.bef4c1cc.css.map */
